:root{
    --color-purple: #a259ff;
    --color-dark1: #333;
    --color-dark2: #555;
}

*{
    font-family: 'Gill Sans MT';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-dark1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game{
    position: relative;
    width: 400px;
    height: 550px;
    background: linear-gradient(to bottom, #87ceeb, #fff);
    overflow: hidden;
    border: 3px solid #000;
}

#bird{
    position: absolute;
    font-size: 30px;
    top: 200px;
    left: 50px;
    transform: scaleX(-1); 
    z-index: 1;
}  

.pipe{
    position: absolute;
    width: 60px;
    background: green;
}

#pipe-top{
    top: 0;
    height: 200px;
    left: 400px;
    z-index: 1;
}

#pipe-bottom{
    bottom: 0;
    height: 200px;
    left: 400px;
    z-index: 1;
}

#score{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    z-index: 1;
}

.logo-png{
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1000;
}

.logo-png img{
    width: 80px;
    height: 80px;
}

.water-mark {
    display: flex;
    position: fixed;
    bottom: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
    gap: .5rem;
}

.water-mark strong{
    color: var(--color-purple);
}

.water-mark img{
    width: 20px;
    height: 20px;
    opacity: 0.5;
    margin-bottom: -0.2rem;
}

.cloud {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    opacity: 0.8;
    animation: cloudMove 60s linear infinite;
    z-index: 0;
}

.cloud::before,
.cloud::after {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 50%;
}

.cloud::before {
    width: 60px;
    height: 60px;
    left: -30px;
    top: 10px;
}

.cloud::after {
    width: 40px;
    height: 40px;
    left: 30px;
    top: 20px;
}

@keyframes cloudMove {
    0% {
        left: 100%;
    }
    100% {
        left: -200px;
    }
}